.header {
  margin-top: 1vh;
}

.result {
  margin-top: 5vh;
  margin-left: 10%;
  margin-right: 10%;
}

.error {
  color: #f50057;
  border: 2px solid #333;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
